.container{
    th.sortable {
        position: relative;
        cursor: pointer;
      }
      
      th.sortable::after {
        font-family: FontAwesome;
        content: "\f0dc";
        position: absolute;
        right: 8px;
        color: #999;
      }
      
      th.sortable.asc::after {
        content: "\f0d8";
      }
      
      th.sortable.desc::after {
        content: "\f0d7";
      }
      
      th.sortable:hover::after {
        color: #333;
      }
}